testgribs/hrrr.20251015-conus-hrrr.t11z.wrfprsf00.grib2 filter=lfs diff=lfs merge=lfs -text
testgribs/hrrr.20251101-alaska-hrrr.t00z.wrfprsf00.ak.grib2 filter=lfs diff=lfs merge=lfs -text
testgribs/nam.t00z.hawaiinest.hiresf00.tm00.grib2 filter=lfs diff=lfs merge=lfs -text
